<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Station Managment System</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
crossorigin="anonymous">
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Station Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/stations}">Station Management</a>
      </li>
    </ul>
  </div>
</nav>

<br><br>

<div class=container>
<div class="row">
<h1>Stations List</h1>
</div>
<div class="row">
<div class="col-lg-3">
<a  th:href="@{stations/new}" class="btn btn-primary btn-sm mb-3">Add New Details</a>
</div>
</div>
<table class="table table-striped table-bordered">
<thead class="table-info">
<tr>
<th>Station Name</th>
<th>Platform Number</th>
<th>Train Number</th>
<th>Train Name</th>
<th>Train Time</th>
<th>Train Type</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<tr th:each="station: ${stations}">
<td th:text="${station.station_name}"></td>
<td th:text="${station.platform_number}"></td>
<td th:text="${station.train_number}"></td>
<td th:text="${station.train_name}"></td>
<td th:text="${station.train_time}"></td>
<td th:text="${station.train_type}"></td>
<td>
<a th:href="@{/stations/edit/{id}(id=${station.id})}" class="btn btn-primary">UPDATE</a>

<a th:href="@{/stations/{id}(id=${station.id})}" class="btn btn-danger">DELETE</a>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>
